.msg-local-payment {
    margin-top: 15px;
}

.sdd {
    width: 100%
}

#wc-hipayenterprise_credit_card-new-payment-method {
    margin-left: 10px;
}

.woocommerce-hipay-error {
    background-color: #e2401c;
    list-style: none;
    padding: 1em 1.618em;
    margin-bottom: 2.617924em;
    margin-left: 0;
    border-radius: 2px;
    color: #fff;
    clear: both;
    border-left: .6180469716em solid rgba(0, 0, 0, .15);
}

.wc_hipay_iframe_container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.wc_hipay_iframe_container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#saveTokenHipay {
    float: left;
}

#hipayPaymentInformationsTitle {
    font-weight: bold;
    margin-bottom: 15px;
}

#hipayPaymentInformationsInfo {
    font-weight: normal;
    margin-bottom: 10px;
}

#hiPay_error_message {
    font-weight: bold;
}

.error-text-hp {
    font-weight: bold;
    color: #ff4c4c;
    font-size: 12px;
}
