image: hipay/gitlab-ci-base:jessie

stages:
- build-test
- test
- clean-stack
- package
- build
- deploy
- sync

variables:
  PROJECT_NAME_TEST: ${DOCKER_SERVICE}-${CI_COMMIT_REF_SLUG}-${CI_PIPELINE_ID}-1

build-test:
  stage: build-test
  script:
  - docker-compose -f docker-compose.test.yml build
  tags:
  - pi-commerce-no-overlay

test-cypress:
  stage: test
  before_script:
    - sed -i -e "s/{HIPAY_API_USER_TEST\}/$HIPAY_API_USER_TEST/" ./bin/docker/conf/test/hipay.env.sample
    - sed -i -e "s/{HIPAY_API_PASSWORD_TEST\}/$HIPAY_API_PASSWORD_TEST/" ./bin/docker/conf/test/hipay.env.sample
    - sed -i -e "s/{HIPAY_TOKENJS_PUBLICKEY_TEST\}/$HIPAY_TOKENJS_PUBLICKEY_TEST/" ./bin/docker/conf/test/hipay.env.sample
    - sed -i -e "s/{HIPAY_TOKENJS_USERNAME_TEST\}/$HIPAY_TOKENJS_USERNAME_TEST/" ./bin/docker/conf/test/hipay.env.sample
    - sed -i -e "s/{HIPAY_SECRET_PASSPHRASE_TEST\}/$HIPAY_SECRET_PASSPHRASE_TEST/" ./bin/docker/conf/test/hipay.env.sample
    - sed -i "s/$(echo {HIPAY_SECRET_PASSPHRASE_TEST} | sed -e 's/\([[\/.*]\|\]\)/\\&/g')/$(echo '$HIPAY_SECRET_PASSPHRASE_TEST' | sed -e 's/[\/&]/\\&/g')/g" ./bin/docker/conf/test/hipay.env.sample
    - sed -i -e "s/{DB_HOST\}/${DOCKER_SERVICE}-${CI_COMMIT_REF_SLUG}-${CI_JOB_ID}_database/" ./bin/docker/conf/test/wordpress.env.sample
    - sed -i -e "s/{WORDPRESS_URL\}/${DOCKER_SERVICE}-${CI_COMMIT_REF_SLUG}-${CI_JOB_ID}-web/" ./bin/docker/conf/test/wordpress.env.sample
    - cp ./bin/tests/.npmrc.sample ./bin/tests/.npmrc
    - sed -i -e "s/\${NPM_REGISTRY_TOKEN\}/$NPM_REGISTRY_TOKEN/" ./bin/tests/.npmrc
  script:
    - docker-compose -p $PROJECT_NAME_TEST -f docker-compose.test.yml stop
    - docker-compose -p $PROJECT_NAME_TEST -f docker-compose.test.yml rm -fv
    - docker-compose -p $PROJECT_NAME_TEST -f docker-compose.test.yml up -d
    - sleep 300
    - docker-compose -p $PROJECT_NAME_TEST -f docker-compose.test.yml logs
    - curl --retry 10 --retry-delay 20 -v http:\/\/${DOCKER_SERVICE}-${CI_COMMIT_REF_SLUG}-${CI_JOB_ID}-web/
    - cd bin/tests
    - yarn install
    - bash ./run_test.sh -p 0 -e $EXCLUDED_TEST_FILES --config baseUrl=http://${DOCKER_SERVICE}-${CI_COMMIT_REF_SLUG}-${CI_JOB_ID}-web/ --env $CYPRESS_ENV
  after_script:
    - /tools/clean-job.sh $PROJECT_NAME_TEST docker-compose.test.yml wordpress ${DOCKER_STACK}-${DOCKER_SERVICE}_web:${CI_COMMIT_REF_SLUG}
  allow_failure: false
  artifacts:
    paths:
      - bin/tests/cypress/videos
      - bin/tests/cypress/screenshots
    when: always
  except:
    variables:
      - $CI_COMMIT_MESSAGE =~ /skip-tests/
  tags:
    - pi-commerce-no-overlay

clean-stack-test:
  stage: clean-stack
  script:
  - echo "Clean remaining containers, network and images"
  after_script:
    - /tools/clean-job.sh $PROJECT_NAME_TEST docker-compose.test.yml wordpress ${DOCKER_STACK}-${DOCKER_SERVICE}_web:${CI_COMMIT_REF_SLUG}
  tags:
    - pi-commerce-no-overlay
  except:
    variables:
      - $CI_COMMIT_MESSAGE =~ /skip-tests/
  when: always

package:
  stage: package
  before_script:
    - apt-get install -y zip sshpass
  script:
    - echo "Package module $CI_COMMIT_REF_SLUG"
    - cd src/woocommerce_hipayenterprise
    - composer install --no-dev
    - cd ../..
    - ./bin/package/builder.sh -v $CI_COMMIT_REF_SLUG
    - chmod u+x bin/deployment/deploy_package.sh
    - ./bin/deployment/deploy_package.sh
  artifacts:
    paths:
      - ./bin/package
  tags:
    - pi-commerce-no-overlay


build:
  stage: build
  before_script:
  - /tools/docker-rmi.sh ${REGISTRY_URL}/${DOCKER_STACK}-${DOCKER_SERVICE}_web:${CI_COMMIT_REF_SLUG}
  script:
  - docker-compose -f docker-compose.acceptance.yml build
  - docker-compose -f docker-compose.acceptance.yml push
  after_script:
  - docker rmi ${REGISTRY_URL}/${DOCKER_STACK}-${DOCKER_SERVICE}_web:${CI_COMMIT_REF_SLUG}
  tags:
  - pi-commerce-no-overlay

deploy2recette:
  stage: deploy
  before_script:
  - sed -i -e "s/{HIPAY_API_USER_RECETTE\}/$HIPAY_API_USER_RE7/" ./bin/docker/conf/acceptance/hipay.env.sample
  - sed -i -e "s/{HIPAY_API_PASSWORD_RECETTE\}/$HIPAY_API_PASSWORD_RE7/" ./bin/docker/conf/acceptance/hipay.env.sample
  - sed -i -e "s/{HIPAY_TOKENJS_PUBLICKEY_RECETTE\}/$HIPAY_TOKENJS_PUBLICKEY_RE7/" ./bin/docker/conf/acceptance/hipay.env.sample
  - sed -i -e "s/{HIPAY_TOKENJS_USERNAME_RECETTE\}/$HIPAY_TOKENJS_USERNAME_RE7/" ./bin/docker/conf/acceptance/hipay.env.sample
  - sed -i -e "s/{HIPAY_SECRET_PASSPHRASE_RECETTE\}/$HIPAY_SECRET_PASSPHRASE_RE7/" ./bin/docker/conf/acceptance/hipay.env.sample
  - sed -i -e "s/{DB_HOST\}/${DOCKER_SERVICE}-${CI_COMMIT_REF_SLUG}-${CI_JOB_ID}_database/" ./bin/docker/conf/acceptance/wordpress.env.sample
  - sed -i -e "s/{WORDPRESS_URL\}/${DOCKER_STACK}-${DOCKER_SERVICE}-${CI_COMMIT_REF_SLUG}.hipay-pos-platform.com/" ./bin/docker/conf/acceptance/wordpress.env.sample
  - sed -i "s/$(echo {HIPAY_SECRET_PASSPHRASE_RECETTE} | sed -e 's/\([[\/.*]\|\]\)/\\&/g')/$(echo '$HIPAY_SECRET_PASSPHRASE_RE7' | sed -e 's/[\/&]/\\&/g')/g" ./bin/docker/conf/acceptance/hipay.env.sample
  # Substitute env variables which doesn't exists on the distant machine
  - /tools/substitute-env-var.sh docker-compose.acceptance.yml
  # Change path for relative path to environment files
  - sed -i -e "s|bin/docker/conf/acceptance/hipay.env.sample|hipay.env.sample|g" docker-compose.acceptance.yml
  - sed -i -e "s|bin/docker/conf/acceptance/wordpress.env.sample|wordpress.env.sample|g" docker-compose.acceptance.yml
  script:
  - bash /tools/deployToDockerMachine.sh -e ./bin/docker/conf/acceptance/hipay.env.sample -e ./bin/docker/conf/acceptance/wordpress.env.sample -s docker-compose.acceptance.yml -n $DOCKER_STACK-$DOCKER_SERVICE-$CI_COMMIT_REF_SLUG
  allow_failure: true
  tags:
  - pi-commerce-no-overlay
  when: manual
  environment:
    name: review/${CI_COMMIT_REF_SLUG}
    url: https://${DOCKER_STACK}-${DOCKER_SERVICE}-${CI_COMMIT_REF_SLUG}.hipay-pos-platform.com
    on_stop: stop_review
  only:
    - branches

stop_review:
  stage: deploy
  variables:
    GIT_STRATEGY: none
  script:
    - bash /tools/docker-rm-stack.sh -n $DOCKER_STACK-$DOCKER_SERVICE-$CI_COMMIT_REF_SLUG
  when: manual
  environment:
    name: review/${CI_COMMIT_REF_SLUG}
    action: stop

sync:
  stage: sync
  script:
  - git clone --mirror https://$GITLAB_USER:$GITLAB_PASSWORD@gitlab.hipay.org/pi-ecommerce/hipay-enterprise-sdk-woocommerce.git
  - cd hipay-enterprise-sdk-woocommerce.git
  - git push --mirror https://$GITHUB_USER:$GITHUB_PASSWORD@github.com/hipay/hipay-enterprise-sdk-woocommerce.git
  allow_failure: true
  tags:
  - pi-ecommerce
