version: '3.3'

services:
  wordpress:
    image: ${DOCKER_STACK}-${DOCKER_SERVICE}_web:${CI_COMMIT_REF_SLUG}
    build:
      context: .
      dockerfile: bin/docker/images/woocommerce/Dockerfile
    depends_on:
      - database
    env_file:
      - ./bin/docker/conf/test/hipay.env.sample
      - bin/docker/conf/test/wordpress.env.sample
    ports:
      - "8000:80"
  database:
    image: mysql:5.7
    env_file:
      - bin/docker/conf/test/wordpress.env.sample
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10
    ports:
      - "3309:3306"
