.hipay-container-admin {
    margin-top: 20px;
}

.credit_card_admin_config, .local_payment_admin_config {
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 5px;
}

.is_pointer {
    cursor: pointer;
}

.woocommerce_hipayenterprise_methods_cc_countries, .woocommerce_hipayenterprise_methods_cc_countries_available, .woocommerce_hipayenterprise_methods_lp_countries, .woocommerce_hipayenterprise_methods_lp_countries_available {
    min-width: 180px !important;
    min-height: 120px;
}

.tab .nav-tabs a:hover,.tab .nav-tabs a:focus{
    text-decoration: none;
    outline: none;
    background-color: inherit;
}
.tab .nav-tabs{
    border: none;
    border-bottom: 2px solid #079fc9;
    margin: 0;
}
.tab .nav-tabs li a{
    padding: 10px 20px;
    margin: 0 10px -1px 0;
    font-size: 17px;
    font-weight: 600;
    color: #293241;
    text-transform: uppercase;
    border: 2px solid #e6e5e1;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    z-index: 1;
    position: relative;
    transition: all 0.3s ease 0s;
}
.tab .nav-tabs li a:hover,
.tab .nav-tabs li.active a{
    background: #fff;
    color: #079fc9;
    border: 2px solid #079fc9;
    border-bottom-color: transparent;
}
.tab .nav-tabs li a:before{
    content: "";
    display: block;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}
.tab .nav-tabs li.active a:before,
.tab .nav-tabs li a:hover:before{ transform: scaleX(1); }
.tab .tab-content{
    padding: 10px;
    position: relative;
}

